[submodule "src/browser"]
	path = src/browser
	url = https://github.com/gabrielcbe/Snap--Build-Your-Own-Blocks
[submodule "src/server/rpc/procedures/roboscape/speckjs"]
	path = src/server/rpc/procedures/roboscape/speckjs
	url = https://github.com/hamidzr/speckjs
